* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body {
    background: var(--color-bg);
}
a {
    color: unset;
    text-decoration: none;
}
.gradient_bg
    
{
    background: rgb(223,82,194);
    background: linear-gradient(90deg, rgba(223,82,194,0.9950105042016807) 0%, rgba(16,199,213,1) 100%);

}
.title_bg{
    background: var(--title-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* background: rgb(154,0,0);
background: radial-gradient(circle, rgba(154,0,0,1) 0%, rgba(41,0,136,1) 100%); */
}
.cta_bg{
    background:linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient_text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section__padding {
    padding: 4rem 6rem;
}
.section__margin {
    margin: 4rem 6rem;
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }  
  @media screen and (max-width: 700px;) {
        .section__padding { 
            padding: 4rem;
        }
        .section__margin { 
            margin: 4rem;
        }
    }
  @media screen and (max-width: 550px;) {
        .section__padding { 
            padding: 4rem 2rem;
        }
        .section__margin { 
            margin: 4rem 2rem;
        }
    }